{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/movie/audience_1.css' %}">
<!DOCTYPE html>
<html lang="kor">
<body>
    <br>
    <div class='movie'>
        <div class='captain1'>
            <img src="{% static 'images/captainshield2.png' %}" alt='shield' class='shield'>
            캡틴아메리카 : 퍼스트어벤져 54만명
        </div>
        <div class='ironman1'>
            <img src="{% static 'images/ironmanlogo.png' %}" alt='ironman' class='ironman'>
            아이언맨 1 430만명
        </div>
        <div class='hulk'>
            <img src="{% static 'images/hulk.png' %}" alt='hulk' class='hulk'>
            인크레더블 헐크 99만명
        </div>
        <div class='ironman2'>
            <img src="{% static 'images/ironmanlogo.png' %}" alt='ironman' class='ironman'>
            아이언맨 2 442만명
        </div>
        <div class='thor1'>
            <img src="{% static 'images/thorpng.png' %}" alt='thor' class='thor'>
            토르 : 천둥의신 169만명
        </div>
        <div class='avengers1'>
            <img src="{% static 'images/avengers.png' %}" alt='avengers' class='avengers'>
            어벤져스 707만명
        </div>
        <div class='ironman3'>
            <img src="{% static 'images/ironmanlogo.png' %}" alt='ironman' class='ironman'>
            아이언맨3 900만명 
        </div>
        <div class='thor2'>
            <img src="{% static 'images/thorpng.png' %}" alt='thor' class='thor'>
            토르 : 다크월드 303.9만명
        </div>
        <div class='captain2'>
            <img src="{% static 'images/captainshield2.png' %}" alt='shield' class='shield'>
            캡틴아메리카 : 윈터솔져 393만명
        </div>
        <div class='guardians1'>
            <img src="{% static 'images/guardians.jpg' %}" alt='guardians' class='guardians'>
            가디언즈 오브 갤럭시 134만명
        </div>
        <div class='guardians2'>
            <img src="{% static 'images/guardians.jpg' %}" alt='guardians' class='guardians'>
            가디언즈 오브 갤럭시 2 273만명
        </div>
        <div class='avengers2'>
            <img src="{% static 'images/avengers.png' %}" alt='avengers' class='avengers'>
            어벤져스 : 에이지 오브 울트론 1049만명
        </div>
        <div class='antman'>
            <img src="{% static 'images/antman.png' %}" alt='antman' class='antman'>
            앤트맨 284만명
        </div>
        <div class='captain3'>
            <img src="{% static 'images/captainshield2.png' %}" alt='shield' class='shield'>
            캡틴아메리카 : 시빌워 867만명
        </div>
        <div class='doctorstrange'>
            <img src="{% static 'images/doctorstrange.jpg' %}" alt='doctorstrange' class='doctorstrange'>
            닥터 스트레인지 544만명
        </div>
        <div class='spiderman'>
            <img src="{% static 'images/spiderman.png' %}" alt='spiderman' class='spiderman'>
            스파이더맨 : 홈커밍 725만명
        </div>
        <div class='spiderman2'>
            <img src="{% static 'images/spiderman.png' %}" alt='spiderman' class='spiderman'>
            스파이더맨 : 파 프롬 홈 799만명
        </div>
        <div class='thor3'>
            <img src="{% static 'images/thorpng.png' %}" alt='thor' class='thor'>
            토르 : 라그나로크 485만명
        </div>
        <div class='blackpanther'>
            <img src="{% static 'images/blackpanther.jpg' %}" alt='blackpanther' class='blackpanther'>
            블랙팬서 538.9만명
        </div>
        <div class='avengers3'>
            <img src="{% static 'images/avengers.png' %}" alt='avengers' class='avengers'>
            어벤져스 : 인피니티워 1121만명
        </div>
        <div class='antman2'>
            <img src="{% static 'images/antman.jpg' %}" alt='antman' class='antman'>
            앤트맨 & 와스프 544만명
        </div>
        <div class='captianmarvel'>
            <img src="{% static 'images/captainmarvel.jpg' %}" alt='captainmarvel' class='captainmarvel'>
            캡틴마블 580만명
        </div>
        <div class='avengers4'>
            <img src="{% static 'images/avengers.png' %}" alt='avengers' class='avengers'>
            어벤져스 : 엔드게임 1393만명
        </div>
    </div>
    <br>
    <br>

    <p>출처 : 마블(MARVEL) 영화 박스오피스 한국 흥행순위 관객순위 마블영화순서</p>
</body>
</html>
{% endblock %}