{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/movie/trailer.css' %}">
<div class="video">
    <br>
    <div class="captain_firstavenger">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JerVrbLldXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Captain America: The first Avenger</p>
    </div>
    <div class="captain_wintersoldier">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D4Z2nEdzkdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Captain America: Winter Soldier</p>
    </div>
    <div class="captain_civilwar">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q1XVJZw9vh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Captain America: Civil War</p>
    </div>
    
    <div class="ironman1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KAE5ymVLmZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Ironman 1</p>
    </div>
    <div class="ironman2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BoohRoVA9WQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Ironman 2</p>
    </div>
    <div class="ironman3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ke1Y3P9D0Bc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Ironman 3</p>
    </div>

    <div class="thor1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JOddp-nlNvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Thor: The God of Thunder</p>
    </div>
    <div class="thor2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/npvJ9FTgZbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Thor: Dark World</p>
    </div>
    <div class="thor3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/v7MGUNV8MxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Thor: Ragnarok</p>
    </div>
    <div class="thor4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mqKAhsp-QqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Thor: Love and Thunder</p>
    </div>
    
    <div class="guardians">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d96cjJhvlMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Guardians of Galaxy</p>
    </div>

    <div class="spiderman1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lCkVr1n1eCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Spiderman: Homecoming</p>
    </div>
    <div class="spiderman2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Nt9L1jCKGnE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Spiderman: Far From Home</p>
    </div>

    <div class="blackwidow">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ybji16u608U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Black Widow</p>
    </div>
</div>
{% endblock %}