{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/character/ironman.css' %}">
<!DOCTYPE html>
<html lang="en">
<body>
    <img src="{% static 'images/ironman2.jpg' %}" class="ironmanpic" alt="ironman">
    <div class="about">
        <p>이름 : Anthony Edward Stark</p>
        <p>활동명 : Iron Man</p>
        <p>나이 : 53</p>
        <p>생일 : 1970년 5월 29일</p>
        <p>국적 : 미국</p>
        <p>아내 : Sharon Carter?</p>
        <p>명대사 : 손가락팅</p>
        <p>배우 : Robert Downy Junior</p>
        <p>Avengers:Endgame에서 스타크가 죽음으로써 승리를 쟁취하게됨. 유일한 이기는 방법이었는데 그래서 토니가 죽어야 토니 왜 죽였냐 ㅠㅠㅠ</p>
    </div>
</body>
</html>

{% endblock %}