.movie{
    text-align: center;
    font-size: 25px;
}

.shield{
    height:50px;
}

.ironman{
    height:60px;
}

.hulk{
    height:50px;
}

.thor{
    height: 50px;
}
.avengers{
    height:50px;
}

.guardians{
    height:50px;
}

.antman{
    height:50px;
}

.doctorstrange{
    height: 50px;
}
.blackpanther{
    height: 50px;
}

.captainmarvel{
    height: 50px;
}
.spiderman{
    height:50px;
}
